@charset "utf-8";

*{
    /* box-sizing: border-box; */
}

html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, section, footer, nav, article, aside{
    display: block;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}


/* layout */
.wrap > div{
    margin-bottom: 65px;
}


/* 과제1 */
#ex_01{
    width: 600px;
    height: 300px;
    padding: 40px;
    background-color: #479bf9;
    display: flex;
 
}

#ex_01 .box{
    width: 300px;
    height: 300px;
    background-color: #0a3;
}

#ex_01 .box:nth-child(2){
    width: 300px;
    height: 300px;
    background-color: #a30;
}


/* 과제2 */
#ex_02{
    width: 1200px;
    height: 280px;
    padding: 40px 0;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
}

#ex_02 .box{
    background-color: #bee;
    width: calc(25% - 20px);
    background-color: #bee;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

#ex_02 .box:nth-child(1){
    background-image: url(../img/img_01.jpg);
}

#ex_02 .box:nth-child(2){
    background-image: url(../img/img_02.jpg);
}

#ex_02 .box:nth-child(3){
    background-image: url(../img/img_03.jpg);
}

#ex_02 .box:nth-child(4){
    background-image: url(../img/img_04.jpg);
}

/* 과제3 */
#ex_03{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
}

#ex_03 .box{
    width: calc(25% - 20px);
    height: auto;
}

#ex_03 .box .img_space{
    width: 100%;
    height: 280px;
    background-position: 50% 50%;
    background-size: cover;
}

#ex_03 .box:nth-child(1) .img_space{
    background-image: url(../img/furniture_01.jpg);
}

#ex_03 .box:nth-child(2) .img_space{
    background-image: url(../img/furniture_02.jpg);
}

#ex_03 .box:nth-child(3) .img_space{
    background-image: url(../img/furniture_03.jpg);
}

#ex_03 .box:nth-child(4) .img_space{
    background-image: url(../img/furniture_04.jpg);
}

#ex_03 .box .txt_space{
    margin-top: 20px;
}

#ex_03 .box .txt_space h4{
    color: #555;
    font-size: 16px;
}


/* 과제4 */
#ex_04{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #eee;
    display: flex;
    align-items: center;
}

#ex_04 li{
    width: 120px;
    height: 50px;
    background-color: #bff;
    margin: 0 20px;
}

/* 과제5 */
#ex_05{
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ex_05 .left{
    width: 140px;
    height: 50px;
    background-color: #faa;
}

#ex_05 .right{
    width: 480px;
    height: 50px;
    background-color: #abf;
}

/* 과제6 */
#ex_06{
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ex_06 .logo{
    width: 140px;
    height: 50px;
    background-color: #faa;
}

#ex_06 .menu{
    width: 480px;
    height: 50px;
    background-color: #abf;
}

#ex_06 .menu ul{
    display: flex;
}

#ex_06 .menu ul li{
    width: 100px;
    height: 50px;
    margin: 0 10px;
    background-color: #ee5;
}

/* 과제7 */
#ex_07{
    width: 1180px;
    height: 30px;
    margin: 0 auto;
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ex_07 .logo a img{
    height: 30px;
}

#ex_07 .menu ul{
    display: flex;
}

#ex_07 .menu ul li{
    margin: 0 20px;
    background-color: #ee5;
}

#ex_07 .menu ul li a{
    font-size: 16px;
    line-height: 30px;
    color: #777;
}

